@mixin flex-justify-one {
	display: flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
}
@mixin btn-redes-social{
		display: inline-block;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background: #222222;
		color: white;
		text-align: center;
		font-size: 20px;
		margin-right: 10px;
		span{
			font-size: inherit;
		}
	}
@mixin centrado{
	width: 60%;
	display: flex;
	justify-content:space-between;
	flex-direction:row-reverse;
	padding-bottom: 50px;
}
@mixin title-h5 {
	font-weight: 700;
	font-family: $font-montserrat;
	font-size: 2rem;
}